body{
    background-image: url('https://everythingcomics.ca/cdn/shop/files/NewReleasesLONG.jpg?v=1714837407&width=1600');
    background-size:contain;
}

.img-card {
    object-fit: cover;
    height: 450px;
}

header {
    .bg-logo{
        background-color: black;
        .icons{
            line-height: 65px;
            a{
                margin-right: 20px;
                font-size: 1.7rem;
            }
        }
    }
    img{
        height: 70px;
        width: 130px;
    }

    // ul.nav {
    //     background-color: white;
    //     padding-bottom: 10px;
    //     box-shadow: 0px 10px 10px -10px black;
    // }

    background-color: white;
    // padding: 20px;
    a.nav-link {
        padding-left: 0px;
        margin-right: 50px;
        font-size: 1.2rem;
    }
    a.nav-link{
        color: black;
    }
    a.nav-link:hover{
        color: black;
        text-decoration: underline;
    }

    a.games.nav-link.active {
        color: gray;
        margin-left: 5px;
        span{
            margin-left: 30px;
            margin-right: 0px;
        }
    }
}

// comics-index
    h1{
        background-color: white;
        padding-top: 30px;
        padding-bottom: 20px;
        padding-left: 10px;
        margin-bottom: 0px;
    }

    .index-bg, .show-bg{
        background-color: white;
        padding-top: 10px;
    }

    .index-bg{
        padding-bottom: 50px;
    }

    // show
    .description.flex-column {
        width: 60%;
        margin-right: 50px;
        margin-top: 40px;
    }

    .show-bg{
        height: calc(100vh - 269px);
    }
